.spinner-slope-intercept {
    top: 70px;
    position: absolute;
}

.spinner-point-slope {
    top: 161px;
    position: absolute;
}

.plg-eqn-popup-11 {
    left: 20px;
}

.plg-eqn-popup-12 {
    left: 164px;
}

.plg-eqn-popup-13 {
    left: 294px;
}

.plg-eqn-popup-14 {
    left: 510px;
}

.plg-eqn-popup-21 {
    left: 10px;
}

.plg-eqn-popup-22 {
    left: 129px;
}

.plg-eqn-popup-23 {
    left: 237px;
}

.plg-eqn-popup-24 {
    left: 337px;
}

.plg-eqn-popup-25 {
    left: 523px;
}

.spinbox {
    width: 70px;
}

.sp-sl-int {
    position: absolute;
    top: 79px;
}

.sp-pt-sl {
    position: absolute;
    top: 169px
}

.variableX {
    font-family: Lato, Arial, sans-serif;
    color: #03667a;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.operators {
    font-family: Lato, Arial, sans-serif;
    color: #7a7979;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.forText {
    font-family: Lato, Arial, sans-serif;
    color: #03667a;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}

.round-brackets {
    top: 141px;
    font-size: 49px;
    color: #7a7979;
}

.variableX11.variableX.sp-sl-int {
    left: 97px;
}

.operators.plus.sp-sl-int {
    left: 129px;
}

.forText.sp-sl-int {
    left: 255px;
}

.variableX12.sp-sl-int {
    left: 433px;
}

.round-brackets.open-bracket.sp-pt-sl {
    left: 84px;
}

.variableX21.variableX.sp-pt-sl {
    left: 100px;
}

.operators.minus.sp-pt-sl {
    left: 116px;
}

.round-brackets.close-bracket.sp-pt-sl {
    left: 201px;
}

.operators.plus.sp-pt-sl {
    left: 222px;
}

.forText.sp-pt-sl {
    left: 316px;
}

.variableX22.variableX.sp-pt-sl {
    left: 460px;
}

.center-aligned .textbox-field {
    font-family: Lato, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 1px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
    width: 39px;
    height: 39px;
    color: #03667a;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    float: left;
    margin-left: -3px;
}

.arrowbutton {
    cursor: pointer;
    height: 25px;
    margin: 0 auto;
    width: 25px;
}

.arrowbutton.disabled {
    cursor: default;
    opacity: 0.5;
}

.arrowbutton-container.disabled {
    cursor: default;
}

.arrowbutton-container.down {
    border-bottom-right-radius: 5px;
    bottom: -3%;
}

.arrowbutton-container.up {
    border-top-right-radius: 5px;
}

.arrowbutton-container {
    cursor: pointer;
    position: relative;
    background-color: #03667a;
    width: 30px;
    height: 19px;
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.arrowbutton-container.hover {
    background-color: #025464;
}

.arrowbutton-container.btn-down {
    background-color: #03404c;
}

.spin-down-arrow {
    background-position: -91px -64px;
}

.spin-up-arrow {
    background-position: -119px -64px;
}
