<div id="plg-eqn-popup-container" class="plg-eqn-popup-container">
	<div id="plg-eqn-popup-holder" class="plg-eqn-popup-holder">
		<div id="plg-eqn-popup-label-exp" class="plg-eqn-popup-label"></div>
		<div id="plg-eqn-popup-close-exp" class="plg-eqn-popup-close fa fa-times-circle"></div>
		<div id="plg-eqn-popup-body-exp" class="plg-eqn-popup-body">

			<div id="fa-check-square-label1" class="plg-eqn-popup-checkbox fa fa-check-square one"></div>
			<div id="plg-eqn-slope-label-1" class="plg-eqn-slope-label one"></div>
			<div id="fa-check-square-label2" class="plg-eqn-popup-checkbox fa fa-check-square two"></div>
			<div id="plg-eqn-slope-label-2" class="plg-eqn-slope-label two"></div>
			
			<div id="plg-eqn-popup-body-separator" class="plg-eqn-popup-body-separator"></div>
			<div id="plg-eqn-popup-11" class="plg-eqn-popup-11 spinner-slope-intercept"></div>
			<div id="plg-eqn-popup-12" class="plg-eqn-popup-12 spinner-slope-intercept"></div>
			<div id="plg-eqn-popup-13" class="plg-eqn-popup-13 spinner-slope-intercept"></div>
			<div id="plg-eqn-popup-13-infinitytext" class="infinityText plg-eqn-popup-13-infinitytext"></div>
			<div id="plg-eqn-popup-14" class="plg-eqn-popup-14 spinner-slope-intercept"></div>
			<div id="plg-eqn-popup-14-infinitytext" class="infinityText plg-eqn-popup-14-infinitytext"></div>
			
			<span id="variableX11" class="variableX11 variableX sp-sl-int"></span>
			<span id="plus1" class="operators plus sp-sl-int"></span>
			<span id="for1" class="forText sp-sl-int"></span>

			<div id="plg-eqn-popup-toggle-btn-base-one" class="plg-eqn-popup-toggle-btn-base one">
				<div id="plg-eqn-popup-toggle-btn-less-than-equal-one" class="plg-eqn-popup-toggle-btn-less-than-equal-one plg-eqn-popup-selected-toggle"> &#8804; </div> 
				<div id="plg-eqn-popup-toggle-btn-less-one" class="plg-eqn-popup-toggle-btn-less-one plg-eqn-popup-selected-toggle"> &#60; </div> 
			</div>
			<span id="variableX12" class="variableX12 variableX sp-sl-int"></span>
			<div id="plg-eqn-popup-toggle-btn-base-two" class="plg-eqn-popup-toggle-btn-base two">
				<div id="plg-eqn-popup-toggle-btn-less-than-equal-two" class="plg-eqn-popup-toggle-btn-less-than-equal-two plg-eqn-popup-selected-toggle"> &#8804; </div> 
				<div id="plg-eqn-popup-toggle-btn-less-two" class="plg-eqn-popup-toggle-btn-less-two plg-eqn-popup-selected-toggle"> &#60; </div> 
			</div>

			<div id="plg-eqn-popup-21" class="plg-eqn-popup-21 spinner-point-slope"></div>
			<div id="plg-eqn-popup-22" class="plg-eqn-popup-22 spinner-point-slope"></div>
			<div id="plg-eqn-popup-23" class="plg-eqn-popup-23 spinner-point-slope"></div>
			<div id="plg-eqn-popup-24" class="plg-eqn-popup-24 spinner-point-slope"></div>
			<div id="plg-eqn-popup-24-infinitytext" class="infinityText plg-eqn-popup-24-infinitytext"></div>
			<div id="plg-eqn-popup-25" class="plg-eqn-popup-25 spinner-point-slope"></div>
			<div id="plg-eqn-popup-25-infinitytext" class="infinityText plg-eqn-popup-25-infinitytext"></div>
			<span id="openBracker" class="round-brackets open-bracket sp-pt-sl">(</span>
			<span id="variableX21" class="variableX21 variableX sp-pt-sl"></span>
			<span id="minus" class="operators minus sp-pt-sl"></span>
			<span id="closeBracker" class="round-brackets close-bracket sp-pt-sl">)</span>
			<span id="plus2" class="operators plus sp-pt-sl"></span>
			<span id="for2" class="forText sp-pt-sl"></span>

			<div id="plg-eqn-popup-toggle-btn-base-three" class="plg-eqn-popup-toggle-btn-base three">
				<div id="plg-eqn-popup-toggle-btn-less-than-equal-three" class="plg-eqn-popup-toggle-btn-less-than-equal-three plg-eqn-popup-selected-toggle"> &#8804; </div> 
				<div id="plg-eqn-popup-toggle-btn-less-three" class="plg-eqn-popup-toggle-btn-less-three plg-eqn-popup-selected-toggle"> &#60; </div> 
			</div>
			<span id="variableX22" class="variableX22 variableX sp-pt-sl"></span>
			<div id="plg-eqn-popup-toggle-btn-base-four" class="plg-eqn-popup-toggle-btn-base four">
				<div id="plg-eqn-popup-toggle-btn-less-than-equal-four" class="plg-eqn-popup-toggle-btn-less-than-equal-four plg-eqn-popup-selected-toggle"> &#8804; </div> 
				<div id="plg-eqn-popup-toggle-btn-less-four" class="plg-eqn-popup-toggle-btn-less-four plg-eqn-popup-selected-toggle"> &#60; </div> 
			</div>

		</div>
		<div id="plg-eqn-popup-close-button" class="plg-eqn-popup-close-button"></div>
	</div>
</div>