
<div id="plg-equation-about-panel" class="plg-equation-about-panel">
  <div id="plg-about-popup-holder" class="plg-about-popup-holder">
        <div id="plg-about-popup-label-exp" class="plg-about-popup-label"></div>
        <div id="plg-about-popup-close-exp" class="plg-about-popup-close fa fa-times-circle fa-lg "></div>
      <div id="plg-eqn-popup-body-exp" class="plg-eqn-popup-body">
        <div id= "plg-eqn-popup-tab" class="plg-eqn-popup-tab">

            <div id="plg-eqn-popup-version-tab" class="plg-eqn-popup-version-tab tab"></div>
            <div id="plg-eqn-popup-license-tab" class="plg-eqn-popup-license-tab tab"></div>
            <div id="plg-eqn-popup-credits-tab" class="plg-eqn-popup-credits-tab tab"></div>
            <div id="plg-eqn-popup-acknowledgements-tab" class="plg-eqn-popup-acknowledgements-tab tab"></div>
            <div id="plg-eqn-popup-content-holder" class="plg-eqn-popup-content-holder">
              <div id="plg-eqn-popup-version-content" class="plg-eqn-popup-version content">
                  <div id="plg-eqn-popup-version-line-one" class="plg-eqn-popup-version-line one"> </div>
                  <div id="plg-eqn-popup-version-line-two" class="plg-eqn-popup-version-line two"> </div>
                  <div id="plg-eqn-popup-version-line-three" class="plg-eqn-popup-version-line three"> </div>
                  <div id="plg-eqn-popup-version-line-four" class="plg-eqn-popup-version-line four"> </div>
              </div> 
              <div id="plg-eqn-popup-license-content" class="plg-eqn-popup-license content">
                <div id="plg-eqn-popup-license-line-one" class="plg-eqn-popup-license-line"> </div>
                <div id="plg-eqn-popup-license-line-two" class="plg-eqn-popup-license-line"> </div>
                <div id="plg-eqn-popup-license-line-three" class="plg-eqn-popup-license-line"> </div>
                <div id="plg-eqn-popup-license-line-four" class="plg-eqn-popup-license-line"> </div>
                <div id="plg-eqn-popup-license-line-five" class="plg-eqn-popup-license-line"> </div>
                <div id="plg-eqn-popup-license-line-six" class="plg-eqn-popup-license-line"> </div>
              </div> 
              <div id="plg-eqn-popup-credits-content" class="plg-eqn-popup-credits content">
                <div id="plg-eqn-popup-credits-line-one" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-two" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-three" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-four" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-five" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-six" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-seven" class="plg-eqn-popup-credits-line"> </div>
                <div id="plg-eqn-popup-credits-line-eight" class="plg-eqn-popup-credits-line"> </div>
              </div> 
              <div id="plg-eqn-popup-acknowledgements-content" class="plg-eqn-popup-acknowledgements content" role="document">
                <div id="plg-eqn-popup-acknowledgements-line-one" class="plg-eqn-popup-acknowledgements-line"> </div>
                <div id="plg-eqn-popup-acknowledgements-line-two" class="plg-eqn-popup-acknowledgements-line"> </div>
                <div id="plg-eqn-popup-acknowledgements-line-three" class="plg-eqn-popup-acknowledgements-line"> </div>
              </div> 
            </div>
        </div>
      </div>
  </div>
</div>