<div id="plg-equation-save-panel" class="plg-equation-save-panel">
  <div id="plg-save-popup-holder" class="plg-save-popup-holder">
        <div id="plg-save-popup-label-exp" class="plg-save-popup-label"></div>
        <div id="plg-save-floppy-image" class="plg-save-floppy-image fa fa-floppy-o"></div>
        <div id="plg-save-popup-close-exp" class="plg-save-popup-close fa fa-times-circle fa-lg "></div>
      <div id="plg-eqn-popup-body-exp" class="plg-eqn-popup-body">	

      		
      		<div id="plg-save-line-one-container" class="plg-save-line-one-container plg-save-line-container ">
      			<div id="plg-save-camera-image" class="plg-save-camera-image fa fa-camera fa-lg plg-save-line-left"></div>
		  		<div id="plg-save-line-one" class="plg-save-line-one plg-save-image-text-color plg-save-line-right"></div>
		  	</div>

		<div id="plg-save-image-holder-text" class="plg-save-image-holder-text">
		  	<div id="plg-save-group-container" class="plg-save-group-container  plg-save-line-container">
		  		<div id="plg-save-group-text" class="plg-save-group-text"></div>
		  	</div>

			<div id="plg-save-username-container" class="plg-save-username-container  plg-save-line-container">
				<div id="plg-save-username-text" class="plg-save-username-text"></div>
			</div>


			<div id="plg-save-title-of-img-container" class="plg-save-title-of-img-container  plg-save-line-container">
				<div id="plg-save-title" class="plg-save-title"></div>
			</div>


			<div id="plg-save-comment-container" class="plg-save-comment-container  plg-save-line-container">
			<div id="plg-save-comment" class="plg-save-comment"></div>
			</div>
		</div>

		<div id="plg-save-image-holder-input" class="plg-save-image-holder-input">
				<input type="text" id="plg-save-group-input-text" class="plg-save-group-input-text">
				<input type="text" id="plg-save-username-input-text" class="plg-save-username-input-text"> 
				<input type="text" id="plg-save-title-input-text" class="plg-save-title-input-text"> 
				<textarea id="plg-save-comment-input-text" class="plg-save-comment-input-text">		</textarea>
		</div>

			<div id="plg-save-ok-btn" class="plg-ok-btn plg-save-ok-btn"></div>
  	  </div>
  </div>
</div>