
<div id="equation-panel-box" class="equation-panel-box">
	<div id="eq-panel-checkbox-editabletext" class="eq-panel-box">
		<div id="eq-panel-fa-check-square" class="eq-panel-fa-check-square" >
			<div id="plg-fa-check-square-{{EqPanelId}}" class="fa fa-check-square fa-lg"></div>
			<input type="text" id="plg-txteditable-{{EqPanelId}}" class="plg-txteditable {{EqPanelId}}">
		</div>
	</div>
	<div id="eq-panel-symbolic-area" class="eq-panel-symbolic-area">
		<div id="eq-panel-fixed-area" class="eq-panel-fixed-area">
		  <span id="eq-panel-y" class="eq-panel-y"> y= </span>
		  <span id="eq-panel-brack" class="eq-panel-brack">{</span>
		</div>
		<div id="eq-panel-expression-area" class="eq-panel-expression-area">
		</div>
	</div>
</div>