<div id="plg-equation-save-msg-panel" class="plg-equation-save-msg-panel">
  <div id="plg-save-msg-popup-holder" class="plg-save-msg-popup-holder">
        <div id="plg-save-msg-popup-exp" class="plg-save-msg-popup"></div>
        <div id="plg-save-msg-popup-close-exp" class="plg-save-msg-popup-close-exp fa fa-times-circle fa-lg "></div>
      <div id="plg-eqn-popup-body-exp" class="plg-eqn-popup-body">
      	 <div id="plg-img-saved-msg" class="plg-img-saved-msg"></div>
         <div id="plg-progress-msg" class="plg-progress-msg"> Please wait ...</div>
         <div id="plg-saved-url" class="plg-saved-url"><a id="plg-saved-url-a" href="" target="_blank">URL: http://abc.com </a></div>
  	  </div>
  </div>
</div>