<div id="{{spinBoxId}}-content-holder" class="spinbox">
    <div class="arrowbutton-container up fa fa-caret-up"></div>
    <div id="{{spinBoxId}}-text" class="spin-textbox-container">
        <input type="text" value="" class="textbox-field" />
    </div>
    <div class="arrowbutton-container down fa fa-caret-down"></div>
</div>
